<include src="components/post.css.html" />

<script id="template" type="x-tmpl-mustache">
  {{#posts}}
      <div class="post widthController">
        <p class="title">
          {{title}}
        </p>
        <p class="description">
          {{author}} / {{date}}
        </p>
        <img src="{{image}}" alt="" srcset="">
        <p class='summary'>
          {{summary}}
        </p>
        <a href="{{path}}" class="button">Read More</a>
      </div>
  {{/posts}}
</script>

<div id="target"></div>
<script>
  const data = {posts:<include src="post/posts.json" />}
</script>
<script>
  
  (function() {
    var template = document.getElementById('template').innerHTML;
    var rendered = Mustache.render(template, data);
    document.getElementById('target').outerHTML = rendered;
  })()
</script>